.cursor-item-text {
    cursor: pointer;
    font-weight: bold;
    will-change: transform;
    transition: transform 150ms ease-out;
}

/* global override */
.theme--light.v-application {
    background: #ffffff !important;
}

.theme--dark.v-application {
    background: #000000 !important;
}

.overflow-hidden {
    overflow: hidden;
}